<a class="button radius minimal transparent" data-dropdown="contentDropSetting">
    <i class="fa fa-bug"></i>
</a>

<div class="f-dropdown medium f-open-dropdown" ng-controller="test.viewSetting" id="contentDropSetting">
    <pre style="font-size:11px;overflow:hidden;">
{{settings | json}}
    </pre>
</div>

<script type="text/javascript">
Yennoo.register.controller("test.viewSetting", ["$scope", function($scope){
    setInterval(function(){
        $scope.settings = Yennoo.setting;
        $scope.$apply();
    }, 700);
}]);
</script>