<div id="dashboard" class="page-margin">

    <!-- Image slider (Orbit) / starts -->
    <div class="large-6 columns">
        <!-- Orbit Container / starts -->
        <div class="large-12 columns" ng-show="recently.banners">
            <div class="panel">
                <div class="orbit-container">
                    <ul id="banner-orbit" class="small-12" data-orbit="" data-options="timer_speed:2500;timer:true;circular:true;resume_on_mouseout:true;animation:fade;bullets:false;variable_height:true;">
                        <li data-orbit-slide="banner-orbit-{{index}}" ng-repeat="(index, entry) in recently.banners track by $index">
                            <a ng-href="{{route.series}}/{{index}}/{{entry.label.toLowerCase()}}">
                                <img class="small-12" ng-src="{{entry.banner}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Orbit Container /  ends  -->

        <!-- Button (Action) Area / starts -->
        <div class="large-12 row">
            <div class="small-4 columns show-for-large-up">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-bookmark-o"></i>&nbsp;Collections
                </div>
            </div>
            <div class="small-4 columns show-for-large-up">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-file-text"></i>&nbsp;Sources
                </div>
            </div>
            <div class="large-4 small-12 columns">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-repeat"></i>&nbsp;Update library
                </div>
            </div>
        </div>
        <!-- Button (Action) Area /  ends  -->

        <!-- Button (Action) Area / starts -->
        <div class="large-12 row">
            <div class="small-4 columns show-for-large-up">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-cogs"></i>&nbsp;Settings
                </div>
            </div>
            <div class="small-4 columns">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-music"></i>&nbsp;Music
                </div>
            </div>
            <div class="small-4 columns">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-microphone"></i>&nbsp;Artists
                </div>
            </div>
            <div class="small-4 columns">
                <div class="small-12 button columns highlight-border">
                    <i class="fa fa-film"></i>&nbsp;Movie
                </div>
            </div>
            <div class="small-12 large-8 columns">
                <a class="small-12 button columns highlight-border" data-orbit-link="big-orbit-recently-shows">
                    <i class="fa fa-clock-o"></i>&nbsp;Recently Added Shows
                </a>
            </div>
        </div>
        <!-- Button (Action) Area /  ends  -->
    </div>
    <!-- Image slider (Orbit) /  ends  -->

    <!-- Recently Added Episodes / starts -->
    <div class="large-6 columns" id="header-episodes" ng-if="recently.episodes">

        <div class="small-12 columns">
            <!-- Block Grid for Recently items / starts -->
            <ul class="small-block-grid-3 items">
                <!-- Recently Block Item / starts -->
                <ul class="large-4 small-6 columns entry highlight-border on-hover ease-in-out" ng-repeat="(index, entry) in recently.episodes track by $index" ng-if="$index < 4">
                    <li class="small-12 row">
                        <div class="panel">
                            <p class="without-margin">{{entry.showtitle}}<span ng-if="entry.playcount"><i class="fa fa-check-circle-o"></i></span></p>
                            <small class="title" ng-if="entry.label">{{entry.label}}
                                <a><i class="icon fa fa-plus-square right"></i></a>
                            </small>
                        </div>
                        <div class="small-12 description without-margin">
                            {{(entry.plot || "{empty}").substr(0, 288)}}...
                        </div>
                    </li>
                    <li><img class="trigger-area" ng-src="{{entry.thumbnail}}"/></li>
                </ul>
                <!-- Recently Block Item /  ends  -->
            </ul>
            <!-- Block Grid for Recently items /  ends  -->
        </div>
    </div>
    <!-- Recently Added Episodes /  ends  -->

    <hr style="margin-bottom:0;">

    <!-- Centered Orbit / starts -->
    <div class="columns" id="orbit-centered">
        <!-- Orbit Container / starts -->
        <div class="orbit-container">
            <ul class="big-orbit" data-orbit="" data-options="variable_height:true;slide_number:false;navigation_arrows:false;bullets:false;timer:false;">
                <!-- Big Welcome in Orbit / starts -->
                <li class="welcome" data-orbit-slide="big-orbit-welcome">
                    <div class="small-7 small-offset-3">
                        <img class="left logo" src="./assets/icon/logo.png">
                        <h1 class="message left">Welcome to Yennoo</h1>
                    </div>
                </li>
                <!-- Big Welcome in Orbit /  ends  -->

                <!-- Recently Added Shows / starts -->
                <li id="centered-episodes" data-orbit-slide="big-orbit-recently-shows">
                    <!-- Header for Recently Added / starts -->
                    <h2><i class="fa fa-1x fa-arrow-left" data-orbit-link="big-orbit-welcome"></i>Recently Added TV Shows</h2>
                    <!-- Header for Recently Added /  ends  -->

                    <!-- Block Grid for Recently Added Shows / starts -->
                    <ul class="small-block-grid-2">
                        <li class="row entry" ng-repeat="(index, entry) in recently.episodes track by $index" ng-if="$index < 8">
                            <!-- Media Preview picture on the left / starts -->
                            <div class="small-12 medium-3 columns thumbnail">
                                <img class="left highlight-border" ng-src="{{entry.thumbnail}}"/>
                            </div>
                            <!-- Media Preview picture on the left /  ends  -->

                            <!-- Media Detail Container / starts -->
                            <div class="small-12 medium-9 columns">
                                <h4 class="title">{{entry.showtitle}}<span ng-if="entry.playcount"><i class="fa fa-check-circle-o"></i></span></h4>
                                <p class="normal description">
                                    <strong ng-if="entry.label">{{entry.label}}:&nbsp;</strong>{{(entry.plot || "{empty}").substr(0, 210)}}...
                                </p>
                            </div>
                            <!-- Media Detail Container /  ends  -->

                            <!-- Additional Media info / starts -->
                            <div class="small-12 left details">
                                <ul class="inline-list row show-for-medium-up">
                                    <li ng-if="entry.director" class="label radius secondary">
                                        <div>
                                            {{"PROPERTY.DIRECTOR" | translate}}:
                                            <span ng-repeat="director in entry.director track by $index">
                                                <a ng-href="{{route.series}}/filter/director/{{director.toLowerCase()}}">{{director}}</a>{{$last ? null : ", "}}</a>
                                            <span>
                                        </div>
                                    </li>
                                    <li ng-if="entry.writer" class="radius secondary label">
                                        <div>
                                            {{"PROPERTY.WRITER" | translate}}:
                                            <a ng-href="{{route.series}}/filter/writer/{{entry.writer[0].toLowerCase()}}">{{entry.writer[0]}}</a></a>
                                        </div>
                                    </li>
                                    <li ng-if="entry.minutes" class="radius secondary label">
                                        <span>
                                            {{"PROPERTY.RUNTIME" | translate}}:
                                            <a ng-href="{{route.series}}/filter/runtime/{{entry.minutes}}">{{entry.minutes}} {{"PROPERTY.MINUTES" | translate}}</a>
                                        </span>
                                    </li>
                                    <li ng-if="entry.ratings && entry.ratings.score" class="radius secondary label">
                                        <span>
                                            {{"PROPERTY.RATING" | translate}}:
                                            <a ng-href="{{route.series}}/filter/rating/{{(entry.ratings.score).toLocaleString()}}">{{(entry.ratings.score).toLocaleString()}} / 10</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Additional Media info /  ends  -->
                        </li>
                    </ul>
                    <!-- Block Grid for Recently Added Shows /  ends  -->
                </li>
                <!-- Recently Added Shows /  ends  -->
            </ul>
        </div>
        <!-- Orbit Container /  ends  -->
    </div>
    <!-- Centered Orbit /  ends  -->

    <hr/>

    <!-- List of Recently Added Movies / starts -->
    <div id="recently-movies" class="large-6 columns">
        <!-- Block Grid container for new Movies /  ends  -->
        <ul class="small-block-grid-4">
            <li ng-repeat="(index, entry) in recently.movies track by $index" ng-if="$index < 8" data-orbit-link="movie-headline-{{entry.movieid}}">
                <a class="entry" id="movie-{{entry.movieid}}">
                    <img class="cover centered highlight-border" src="./assets/img/media.cover.frame.png"
                         media="poster" poster="entry.poster" imageonload="true">
                    <div class="title-movie text-center"><span class="normal">{{entry.title}}</span></div>
                </a>
            </li>
        </ul>
        <!-- Block Grid container for new Movies /  ends  -->

        <!-- Button for new Movies / starts -->
        <a class="small small-12 button highlight-border">Alle anzeigen</a>
        <!-- Button for new Movies /  ends  -->
    </div>
    <!-- List of Recently Added Movies /  ends  -->

    <!-- Movie Detail container / starts -->
    <div id="orbit-bottom" class="large-6 columns">
        <!-- Orbit Container for details / starts -->
        <div class="orbit-container highlight-border">
            <ul id="movie-orbit" data-orbit="" data-options="timer_speed:3500;timer:true;circular:true;resume_on_mouseout:tue;variable_height:true;slide_number:false;">
                <li class="entry" data-orbit-slide="movie-headline-{{entry.movieid}}" ng-repeat="(index, entry) in recently.movies track by $index" ng-if="$index < 8" data-fanart="{{entry.fanart}}">
                    <div class="columns">
                        <!-- Media Preview of Title, Slogan and Thumbnail / starts -->
                        <h3>{{entry.title}}</h3>
                        <span ng-if="entry.tagline" class="tagline without-margin" ng-if="entry.tagline"><i class="icon fa fa-bell-o"></i>{{entry.tagline}}</span>
                        <p class="normal">{{entry.plot}}</p>
                        <img class="th" ng-src="{{entry.fanart}}">
                        <hr>
                        <!-- Media Preview of Title, Slogan and Thumbnail /  ends  -->

                        <!-- Media Summary list / starts -->
                        <div class="large-12 row">
                            <a class="radius secondary button small" ng-if="entry.country">{{entry.country[0]}}</a>
                            <a class="radius secondary button small" ng-if="entry.streamdetails && entry.streamdetails.video.length && entry.streamdetails.video[0].width">{{entry.streamdetails.video[0].width}}x{{entry.streamdetails.video[0].height}}px</a>
                            <a class="radius secondary button small" ng-if="entry.minutes">{{entry.minutes}} {{"PROPERTY.MINUTES" | translate}}</a>
                            <a class="radius secondary button small" ng-if="entry.ratings && entry.ratings.score">{{(entry.ratings.score).toLocaleString()}} / 10</a>
                            <a class="radius secondary button small" ng-if="entry.mpaa && entry.mpaa !==''">{{entry.mpaa}}</a>
                            <a class="radius info button small" ng-href="{{route.movies}}/{{entry.movieid}}/{{entry.label.toLowerCase()}}">{{"TVSHOW.OVERVIEW" | translate}}&nbsp;<i class="icon fa fa-1x fa-sign-out">&nbsp;</i></a>
                            <a class="radius success button small">{{"GLOBAL.PLAY" | translate}}&nbsp;<i class="icon fa fa-1x fa-desktop">&nbsp;</i></a>
                        </div>
                        <!-- Media Summary list /  ends  -->
                    </div>
                </li>
            </ul>
        </div>
        <!-- Orbit Container for details /  ends  -->
    </div>
    <!-- Movie Detail container /  ends  -->
</div>

<div class="large-12 columns margin-bottom"></div>

<div class="blur-fill-in transition" id="orbit-blur"></div>

<script type="text/javascript">
    $(document).foundation("orbit", "reflow");
</script>