<div id="media-header" class="show-for-medium-up">
    <div class="media-banner overlay">
        <div class="banner animated fadeIn" onready="relpaceimage" data-image="media.fanart" ng-show="media.fanart"></div>
        <div class="gradient"></div>
        <!--<div class="radial"></div>-->
    </div>
</div>

<div id="media-detail" class="large-12 columns">
    <div id="media-description" class="movie small-12 large-offset-1 large-10 columns left">
        <div class="large-12 columns">
            <div class="columns">
                <div class="show-for-medium-up">
                    <div id="cover-cointainer" class="poster cover" style="background-image: url('/assets/img/media.cover.edges.png');">
                        <img class="animated slideInUp width-280" src="/assets/img/media.cover.edges.png" onready="relpaceimage" data-image="media.poster" ng-if="media" />
                    </div>
                </div>
            </div>

            <!-- Media title in header / starts -->
            <div class="large-title row show-for-large-up column">
                <div class="original large-11" ng-if="media.originaltitle != media.title">
                    <div class="large-12 columns row">{{media.originaltitle}}</div>
                </div>
                <div class="title">
                    <h1 class="left truncate truncate-85">{{media.title}}</h1>
                    <small ng-if="media.year" class="year left">({{media.year}})</small>
                </div>

                <!-- Media summary list / starts -->
                <div class="summary row show-for-large-up">
                    <ul class="inline-list large-12 columns">
                        <li ng-if="media.country"><a ng-href="{{route.movies}}/filter/country/{{media.country[0].toLowerCase()}}">{{media.country[0]}}</a></li>
                        <li ng-if="media.minutes"><a ng-href="{{route.movies}}/filter/minutes/{{media.minutes}}">{{media.minutes}} {{"PROPERTY.MINUTES" | translate}}</a></li>
                        <li ng-if="media.genre" ng-repeat="genre in media.genre"><a ng-href="{{route.movies}}/filter/genre/{{genre.toLowerCase()}}">{{genre}}</a></li>
                    </ul>
                </div>
                <!-- Media summary list /  ends  -->
            </div>
            <!-- Media title in header /  ends  -->

            <!-- Media detail description / starts -->
            <div class="media-description panel large-12 left">
                <div class="media-plot large-9 row ng-cloak left">
                    <!-- Media plot with poster / starts -->
                    <div class="fix-poster left show-for-medium-up"></div>
                    <div class="poster cover show-for-small">
                        <img class="animated slideInUp width-280" ng-if="media" data-image="media.poster" onready="relpaceimage" src="/assets/img/media.cover.edges.png" style="margin-top:50px;" />
                    </div>
                    <p class="plot" ng-if="media.plot">{{media.plot}}</p>
                    <!-- Media plot with poster /  ends  -->

                    <!-- Media action list / starts -->
                    <div id="block-entries" class="block-entries text-inherit large-12">
                        <ul class="small-block small-block small-block-grid-2 large-block-grid-3 row">
                            <li class="entry rating transition truncate truncate-80 large-4">
                                <div class="text left show-for-medium-up" ng-if="media.ratings && media.ratings.score">
                                    {{(media.ratings.score).toLocaleString()}}{{(media.ratings.score).toLocaleString().length == 1 ? ",0" : null}}
                                </div>
                                <div class="small-12" ng-if="media.ratings && media.ratings.array">
                                    <div class="stars fa-2x">
                                        <div class="star-background">
                                            <i class="fa fa-star" ng-repeat="index in [0,1,2,3,4]"></i>
                                        </div>
                                        <div class="star-value">
                                            <i class="fa fa-star star-{{index +1}} {{$last ? 'fa-star-half' : null}}" ng-repeat="index in media.ratings.array"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="entry collection transition truncate truncate-80 large-4" ng-if="media.set && media.setid">
                                <i class="icon fa fa-2x fa-bookmark-o"></i>
                                <span class="text">
                                    <a ng-href="#/sets?id={{media.setid}}&title={{media.set}}">{{"COLLECTION" | translate}} : {{media.set}}</a>
                                </span>
                            </li>
                            <li class="entry watched transition large-4" ng-if="media.playcount >= 1 && media.resume.position === 0">
                                <i class="icon fa fa-2x fa-check"></i>
                                <span class="text">{{"MOVIE.VIEWED" | translate}}</span>
                            </li>
                            <li class="entry watched transition large-4" ng-if="media.resume.position >= 1">
                                <i class="icon fa fa-2x fa-clock-o"></i>
                                <span class="text">{{"MOVIE.STARTED" | translate}}</span>
                            </li>
                            <li class="entry watched transition large-4" ng-if="media.playcount === 0 && media.resume.position === 0">
                                <i class="icon fa fa-2x fa-history"></i>
                                <span class="text">{{"MOVIE.UNVIEWED" | translate}}</span>
                            </li>
                            <li class="entry download transition truncate truncate-80 large-4">
                                <a ng-click="action.download(media);">
                                    <i class="icon fa fa-2x fa-download"></i>
                                    <span class="text">{{"MOVIE.DOWNLOAD" | translate}}</span>
                                </a>
                            </li>
                            <li class="entry queue transition truncate truncate-80 large-4">
                                <a ng-click="action.queue(media);">
                                    <i class="icon fa fa-2x fa-file-text-o"></i>
                                    <span class="text">{{"MOVIE.QUEUED" | translate}}</span>
                                </a>
                            </li>

                            <li class="entry play transition truncate truncate-80 large-4">
                                <a ng-click="action.start(media);">
                                    <i class="icon fa fa-2x fa-desktop"></i>
                                    <span class="text">{{"MOVIE.WATCH_ON" | translate:"{'name': 'Kodi'}"}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Media action list /  ends  -->
                </div>

                <!-- Media side content (summary right) / starts -->
                <div class="media-toolbox small-12 large-3 columns show-for-large-up ng-cloak right" ng-if="media">
                    <div id="side-content">
                        <div class="detail-widget small-12 row" ng-repeat="name in ['director','genre','studio','writer','mpaa','votes','year']" ng-if="!!media[name]">
                            <span class="left small-5">{{"PROPERTY."+ name.toUpperCase() | translate}}</span>
                            <ul class="right small-7">
                                <li ng-if="!media[name].shift">
                                    <a ng-href="{{route.movies}}/filter/{{name}}/{{media[name].toLowerCase ? media[name].toLowerCase() : media[name]}}">{{media[name]}}</a>
                                </li>
                                <div ng-if="media[name].shift">
                                    <li ng-repeat="index in media[name] track by $index">
                                        <a ng-href="{{route.movies}}/filter/{{name}}/{{index.toLowerCase ? index.toLowerCase() : index}}">{{index}}</a>
                                    </li>
                                </div>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Media side content (summary right) /  ends  -->

                <!-- Media tab listing with content / starts -->
                <div class="media-tabs small-12 ng-cloak left">
                    <ul id="tabs" class="tabs" ng-init="tab = 'detail'">
                        <li ng-class="{active: tab == 'detail' || tab == ''}" class="tab-title"><a ng-click="tab = 'detail'">{{"MOVIE.DETAIL" | translate}}</a></li>
                        <li ng-class="{active: tab == 'cast'}" class="tab-title"><a ng-click="tab = 'cast'">{{"MOVIE.CAST" | translate}}</a></li>
                        <li ng-class="{active: tab == 'streams'}" class="tab-title"><a ng-click="tab = 'streams'">{{"MOVIE.STREAMS" | translate}}</a></li>
                    </ul>
                    <!-- Media tab content / starts -->
                    <div id="tabs-content" class="column">
                        <!-- Media tab content: detail / starts -->
                        <div class="small-12 column text-inherit" ng-show="tab == 'detail'" id="tab-overview">
                            <div class="small-12 medium-6 large-6 left">
                                <table>
                                    <tr ng-if="media.originaltitle">
                                        <td>{{"PROPERTY.ORIGINALTITLE" | translate}}</td>
                                        <td>{{media.originaltitle}}</td>
                                    </tr>
                                    <tr ng-if="media.minutes">
                                        <td>{{"PROPERTY.RUNTIME" | translate}}</td>
                                        <td>
                                            <a href="{{route.movies}}/filter/minutes/{{media.minutes}}">{{media.minutes}} {{"PROPERTY.MINUTES" | translate}}</a>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.youtube">
                                        <td>{{"PROPERTY.TRAILER" | translate}}</td>
                                        <td>
                                            <a ng-click="trustVideoSrc('youtube', media.youtube);" data-reveal-id="modal-trailer-youtube" ng-href="https://youtu.be/{{media.youtube}}" onclick="return false;">YouTube&nbsp;
                                                <i class="fa fa-youtube-play play-youtube"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.streamdetails && media.streamdetails.video.length && media.streamdetails.video[0].width">
                                        <td>{{"PROPERTY.RESOLUTION" | translate}}</td>
                                        <td>
                                            {{media.streamdetails.video[0].width}}x{{media.streamdetails.video[0].height}}
                                        </td>
                                    </tr>
                                    <tr ng-if="media.ratings && media.ratings.score">
                                        <td>{{"PROPERTY.RATING" | translate}}</td>
                                        <td>
                                            <a ng-href="{{route.movies}}/filter/rating/{{media.ratings.score}}">{{(media.ratings.score).toLocaleString()}} / 10</a>
                                            <div class="votes-in-rating" ng-if="media.votes">
                                                <a ng-href="{{route.movies}}/filter/votes/{{media.votes}}">( {{media.votes}} {{"PROPERTY.VOTES" | translate}} )</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.streamdetails && media.streamdetails.subtitle.length">
                                        <td>{{"PROPERTY.SUBTITLE" | translate}} <span style="font-variant:super;">({{media.streamdetails.subtitle.length}})</span></td>
                                        <td>
                                            <span ng-repeat="subtitle in media.streamdetails.subtitle">{{subtitle.language}}{{$last ? null : ', '}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="small-12 medium-6 large-6 left">
                                <table>
                                    <tr ng-repeat="name in ['tagline']" ng-if="media[name]">
                                        <td>{{"PROPERTY."+ name.toUpperCase() | translate}}</td>
                                        <td>{{media[name]}}</td>
                                    </tr>
                                    <tr ng-if="media.duration && media.duration.time">
                                        <td>{{"PROPERTY.DURATION" | translate}}</td>
                                        <td>
                                            <span ng-if="media.duration.time.h">{{media.duration.time.h}}h&nbsp;</span>
                                            <span ng-if="media.duration.time.m">{{media.duration.time.m}}m&nbsp;</span>
                                            <span ng-if="media.duration.time.s">{{media.duration.time.s}}s</span>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.mpaa">
                                        <td>{{"PROPERTY.MPAA" | translate}}</td>
                                        <td>
                                            <a class="mpaa {{(media.mpaa).toLowerCase()}}" ng-href="{{route.movies}}/filter/mpaa/{{(media.mpaa).toLowerCase()}}">
                                                <span class="left label">{{(media.mpaa).split(" ")[0].toUpperCase()}}</span>
                                                <span class="left rating">{{(media.mpaa).split(" ")[1].toUpperCase()}}</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.imdbnumber">
                                        <td>{{"PROPERTY.IMDB" | translate}}</td>
                                        <td class="imdb">
                                            <a target="_blank" ng-href="http://www.imdb.com/title/{{media.imdbnumber}}/?{{media.label}}">
                                                <span class="truncate truncate-80">{{media.originaltitle || media.title}} ({{media.year || "???"}})</span>
                                                <div class="label radius">{{"PROPERTY.IMDB" | translate}}</div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.time && media.time.dateadded && media.time.dateadded.toLocaleFormat">
                                        <td>{{"PROPERTY.DATEADDED" | translate}}</td>
                                        <td>
                                            <a href="{{route.movies}}/filter/dateadded/{{media.dateadded.split(' ')[0]}}">{{media.time.dateadded.toLocaleFormat()}}</a>
                                        </td>
                                    </tr>
                                    <tr ng-if="media.time && media.time.lastplayed && media.time.lastplayed.toLocaleFormat">
                                        <td>{{"PROPERTY.LASTPLAYED" | translate}}</td>
                                        <td>
                                            <a href="{{route.movies}}/filter/lastplayed/{{media.lastplayed.split(' ')[0]}}">{{media.time.lastplayed.toLocaleFormat()}}</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- Media tab content: detail /  ends  -->

                        <!-- Media tab content: cast / starts -->
                        <div id="tab-cast" ng-show="tab == 'cast'" ng-if="castSize = 5">
                            <div class="additional-button label radius">
                                <span data-options="is_hover:true; hover_timeout:1000;" data-dropdown="cast-size" href="#">
                                    {{"MOVIE.DISPLAY" | translate}}: <b>{{castSize}}</b>
                                </span>
                                <ul data-dropdown-content="" class="cast-size f-dropdown" id="cast-size">
                                    <li><a ng-click="castSize = 2">2</a></li>
                                    <li><a ng-click="castSize = 3">3</a></li>
                                    <li><a ng-click="castSize = 4">4</a></li>
                                    <li><a ng-click="castSize = 5">5</a></li>
                                    <li><a ng-click="castSize = 6">6</a></li>
                                </ul>
                            </div>

                            <ul class="small-block-grid-{{castSize}}">
                                <li class="item" ng-repeat="cast in media.cast" ng-if="media.cast && cast && cast.name">
                                    <a ng-href="#/people/{{cast.name.toLowerCase()}}">
                                        <img class="people th" src="/assets/img/thumbnail.blank.gif" onready="relpaceimage" data-image="cast.image || unknown" />
                                    </a>
                                    <div class="text-center">
                                        <div class="small-12 people">
                                            <a ng-href="#/people/{{cast.name.toLowerCase()}}">{{cast.name}}</a>
                                        </div>
                                        <div class="small-12 role">
                                            <i class="fa fa-star"></i>
                                            <a target="_blank" ng-href="http://www.imdb.com/find?s=ch&q={{cast.role}}">{{cast.role}}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Media tab content: cast /  ends  -->

                        <!-- Media tab content: streams detail / starts -->
                        <div ng-show="tab == 'streams'" id="streams">
                            <table class="column small-12">
                                <thead>
                                    <tr>
                                        <th width="20%">{{"VIDEO" | translate}}</th>
                                        <th width="80%">{{"GLOBAL.VALUE" | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="media.filename">
                                        <td>{{"PROPERTY.FILE" | translate}}</td><td><a style="display:block;word-break:break-all;" ng-href="{{media.file}}">{{media.filename}}</a></td>
                                    </tr>
                                    <tr ng-if="media.duration && media.duration.real">
                                        <td>{{"PROPERTY.DURATION" | translate}}</td><td>{{media.duration.real}} {{media.duration.unit}}</td>
                                    </tr>
                                    <tr ng-repeat="name in ['codec','height','width']" ng-if="media.streamdetails.video[0][name]">
                                        <td>{{"PROPERTY."+ name.toUpperCase() | translate}}</td><td>{{media.streamdetails.video[0][name]}}</td>
                                    </tr>
                                    <tr ng-if="media.streamdetails.subtitle.length">
                                        <td>{{"PROPERTY.SUBTITLE" | translate}}</td>
                                        <td><span ng-repeat="subtitle in media.streamdetails.subtitle track by $index">{{subtitle.language}}{{$last ? null : ', '}}</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table ng-if="media.streamdetails.audio.length > 0" class="column small-12">
                                <thead>
                                    <tr>
                                        <th width="20%">{{"AUDIO" | translate}}</th>
                                        <th width="75%">{{"PROPERTY.CODEC" | translate}}</th>
                                        <th width="5%">{{"PROPERTY.CHANNELS" | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stream in media.streamdetails.audio track by $index" ng-if="media.streamdetails.audio">
                                        <td ng-repeat="name in ['language','codec','channels']" ng-if="stream[name]">{{stream[name]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Media tab content: streams detail /  ends  -->
                    </div>
                    <!-- Media tab content /  ends  -->
                </div>
                <!-- Media tab listing with content /  ends  -->
            <!-- Media detail description /  ends  -->
        </div>
    </div>
</div>

<div data-reveal="" class="reveal-modal large" id="modal-trailer-youtube" aria-hidden="true">
    <h2>{{media.title}}<small>&nbsp;/ {{"PROPERTY.TRAILER" | translate}}</small></h2>
    <div class="flex-video" style="display:none;">
        <iframe width="420" height="315" frameborder="0" allowfullscreen="" src="{{trailer}}"></iframe>
    </div>
    <div class="sources">Quelle: {{(trailer || "").toString().replace("http://", "").replace("www.", "").replace("//", "")}}</div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div class="large-12 columns margin-bottom"></div>

<div class="blur-fill-in" style="background-image: url(&quot;{{media.fanart}}&quot;);"></div>

<script type="text/javascript">
    $(document).foundation();
</script>