<div subheader="right/replace" ng-if="albums.length" class="hide">
    <ul class="button-group left radius">
        <li><a href="" class="button minimal" ng-click="represent.albums = 'poster'"><i class="fa fa-th"></i></a></li>
        <li><a href="" class="button minimal" ng-click="represent.albums = 'simply'"><i class="fa fa-list"></i></a></li>
        <li><a href="" class="button minimal" ng-click="represent.albums = 'banner'"><i class="fa fa-align-justify"></i></a></li>
    </ul>
</div>

<div id="music" class="page-margin small-12" pager="true" in="albums" out="media" ng-if="albums" style="height:auto;">

    <!-- Presentation: Simply -->

    <ul class="small-block-grid-1 medium-block-grid-2" ng-show="represent.albums == 'simply'">
        <li ng-repeat="entry in media track by $index" ng-if="entry.albumid">
            <ul data-accordion="accordion-{{$index}}" class="accordion">
                <li class="accordion-navigation">
                    <a href="#album-{{entry.albumid}}" onclick="return false;"><strong>{{entry.displayartist}}</strong> {{entry.title}}</a>
                    <div class="content" id="album-{{entry.albumid}}">
                        <div class="row">

                            <div style="padding:0;background: rgb(113, 106, 106);" class="small-8 columns">
                                <ul class="songlist medium" style="margin:0;">
                                    <div class="background">
                                        <li ng-if="artistsSongs[entry.albumid] == null"><a class="text-center">{{"MESSAGE.LOADING" | translate}}</a></li>
                                        <li ng-if="artistsSongs[entry.albumid] != null && artistsSongs[entry.albumid].length == 0"><a class="text-center" style="color:#fff;"><i class="fa fa-warning" style="font-size: 13px; line-height: 19px;"></i>&nbsp;{{"MESSAGE.NO_TRACK_LIST" | translate}}</a></li>

                                        <li ng-repeat="song in artistsSongs[entry.albumid] track by $index" ng-click="action.openSong(song);" ng-if="artistsSongs[entry.albumid].length"
                                            ng-class="{'playing': running.songid == song.songid}">
                                            <div class="icon"></div>
                                            <div class="track">{{song.track || $index +1}}</div>
                                            <div class="title">{{song.title}}</div>
                                            <div class="duration" title="{{song.runtime.short}} {{'PROPERTY.'+ song.runtime.unit.toUpperCase() | translate}}">{{song.runtime.real}}</div>
                                            <div class="displayartist">{{song.displayartist}}</div>
                                        </li>

                                        <li class="additional" ng-if="artistsSongs[entry.albumid].length">
                                            <span class="action left" ng-click="action.start(entry);">
                                                <div class="fa fa-play-circle"></div>{{"MESSAGE.PLAY_EVERYTHING" | translate}}
                                            </span>
                                            <span class="action right" ng-click="action.queue(entry);">
                                                <i class="fa fa-file-text-o"></i>{{"MOVIE.QUEUED" | translate}}
                                            </span>
                                        </li>

                                    </div>
                                </ul>
                            </div>

                            <div class="small-4 columns">
                                <img class="cover" src="/assets/img/media.music.edges.png" onready="relpaceimage" data-image="entry.thumbnail"
                                     ng-click="loadSonglist($event)" style="width:100%;">
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Presentation: Poster -->

    <ul class="small-block-grid-1 medium-block-grid-2" ng-show="represent.albums == 'poster' || represent.albums == null">
        <div ng-repeat="entry in media track by $index" ng-if="entry.albumid" class="item poster" id="album-{{entry.albumid}}" data-id="{{entry.albumid}}" style="background:transparent url('/assets/img/loading.music.cover.gif') no-repeat 50% 26%;">
            <div ng-class="{'isPlaying fa fa-toggle-right animated infinite flip': running.albumid == entry.albumid}"></div>
            <img class="cover" src="/assets/img/media.music.edges.png" onready="relpaceimage" data-image="entry.thumbnail" style="opacity:.7;"
                 data-dropdown="drop-{{entry.albumid}}" aria-controls="drop1" aria-expanded="false" ng-click="loadSonglist($event)">

            <div class="label">
                <span class="normal artist">{{entry.artist.join(",") || "{ empty }"}}</span>
                <span class="normal label">{{entry.label}}</span>
            </div>

            <ul class="f-dropdown songlist small" id="drop-{{entry.albumid}}" data-dropdown-content aria-hidden="true" tabindex="-1">
                <div class="background" style="background:linear-gradient(rgba(0, 0, 0, 0.38), #1e1d1d 100%),url('{{entry.thumbnail}}');background-size:100%;background-position:left 25px;">
                    <div class="header">
                        <div class="title text-center">{{entry.label}}</div>
                    </div>
                    <li ng-if="artistsSongs[entry.albumid] == null"><a class="text-center">{{"MESSAGE.LOADING" | translate}}</a></li>
                    <li ng-if="artistsSongs[entry.albumid] != null && artistsSongs[entry.albumid].length == 0"><a class="no-tracks text-center"><i class="fa fa-warning"></i>&nbsp;{{"MESSAGE.NO_TRACK_LIST" | translate}}</a></li>
                    <li ng-repeat="song in artistsSongs[entry.albumid] track by $index" ng-click="action.openSong(song);" ng-if="artistsSongs[entry.albumid].length"
                        ng-class="{'playing': running.songid == song.songid}">
                        <div class="icon"></div>
                        <div class="track">{{song.track || $index +1}}</div>
                        <div class="title">{{song.title}}</div>
                        <div class="duration" title="{{song.runtime.short}} {{'PROPERTY.'+ song.runtime.unit.toUpperCase() | translate}}">{{song.runtime.real}}</div>
                        <div class="displayartist">{{song.displayartist}}</div>
                    </li>
                    <li class="additional" ng-if="artistsSongs[entry.albumid].length">
                        <span class="action left" ng-click="action.start(entry);">
                            <div class="fa fa-play-circle"></div>{{"MESSAGE.PLAY_EVERYTHING" | translate}}
                        </span>
                        <span class="action right" ng-click="action.queue(entry);">
                            <i class="fa fa-file-text-o"></i>{{"MOVIE.QUEUED" | translate}}
                        </span>
                    </li>
                </div>
            </ul>
        </div>
    </ul>

    <!-- Presentation: Poster: End -->

    <div class="large-12 column" ng-if="pagination.pages.length > 1">
        <ul class="pagination row small-offset-3 large-7 large-offset-4" ng-if="pagination">
            <li class="arrow unavailable">
                <a ng-href="{{pagination.path}}/page/1" style="background:#F1F1F1">
                    <i class="fa fa-angle-double-left"></i> {{"GLOBAL.FIRST_PAGE" | translate}}
                </a>
            </li>

            <li ng-repeat="page in pagination.pages" ng-class="{'current': pagination.current == page}" >
                <a ng-href="{{pagination.path}}/page/{{page}}" style="background:#F1F1F1">{{page}}</a>
            </li>

            <li ng-if="pagination.upper < pagination.total" class="arrow">
                <a ng-href="{{pagination.path}}/page/{{ pagination.total}}" style="background:#F1F1F1">
                    {{"GLOBAL.LAST_PAGE" | translate}} <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>

</div>

<script>
    $(document).foundation();
</script>