<div class="page-margin">

    <div subheader="right/replace" ng-if="tvshows.length" class="hide">
        <ul class="button-group left radius">
            <li><a href="" class="button minimal" ng-click="represent.tvshows = 'poster'"><i class="fa fa-th"></i></a></li>
            <li><a href="" class="button minimal" ng-click="represent.tvshows = 'simply'"><i class="fa fa-list"></i></a></li>
            <li><a href="" class="button minimal" ng-click="represent.tvshows = 'banner'"><i class="fa fa-align-justify"></i></a></li>
        </ul>
    </div>

    <div ng-if="tvshows.length === 0" data-alert class="alert-box info" style="margin: -10px 0 10px;">
        <div translate="MESSAGE.EMPTY_MEDIA_LIST" translate-values="{type: '{{'SERIES' | translate}}'}"></div>
        <a href="#" class="close">&times;</a>
    </div>

    <div id="media-listing" class="poster" pager="true" in="tvshows" out="media" ng-if="tvshows" style="height:auto;">

        <!-- Presentation: List -->

        <div ng-show="represent.tvshows == 'simply'">
            <ul class="simply small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                <li ng-repeat="(index, entry) in media track by $index" ng-if="entry.tvshowid">
                    <a ng-href="{{route.series}}/{{entry.tvshowid}}/{{entry.label.toLowerCase()}}" style="display: block;" id="serie-{{entry.tvshowid}}">
                        <img  class="cover" src="./assets/img/media.text.png">
                        <span class="normal">{{entry.title}}</span>

                        <!-- Show current filter / starts -->
                        <div class="title-movie filter text-left right" style="height:23px;margin-right:5px;">&nbsp;
                            <div ng-include="'./resources/view/shared/media.filter.html'" ng-if="$root.filter.property && $root.filter.property !== 'title'" class="inline"></div>
                        </div>
                        <!-- Show current filter /  ends  -->
                    </a>
                </li>
            </ul>
        </div>

        <!-- Presentation: Banner -->

        <ul ng-show="represent.tvshows == 'banner'" class="banner small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            <li ng-repeat="(index, entry) in media track by $index" ng-if="entry.tvshowid">
                <a ng-href="{{route.series}}/{{entry.tvshowid}}/{{entry.label.toLowerCase()}}" class="cover poster">
                    <img class="cover centered" src="./assets/img/media.banner.png"
                         media="banner" banner="entry.banner" imageonload="true">

                    <!-- Show current filter / starts -->
                    <div class="title-movie filter text-left">&nbsp;
                        <div ng-include="'./resources/view/shared/media.filter.html'" ng-if="$root.filter.property && $root.filter.property !== 'title'" class="inline"></div>
                    </div>
                    <!-- Show current filter /  ends  -->

                </a>
            </li>
        </ul>

        <!-- Presentation: Poster [default] -->

        <div ng-show="represent.tvshows == 'poster' || represent.tvshows == null">
            <div class="poster">
                <a ng-repeat="(index, entry) in media track by $index" class="entry" id="serie-{{entry.tvshowid}}" ng-click="toggle($event);" ng-if="entry.tvshowid"
                     ng-href="{{route.series}}/{{entry.tvshowid}}/{{entry.label.toLowerCase()}}" >
                    <img class="cover centered" src="./assets/img/media.cover.frame.png"
                         media="poster" poster="entry.poster" imageonload="true">

                    <!-- Show current filter / starts -->
                    <div class="title-movie filter text-left">&nbsp;
                        <div ng-include="'./resources/view/shared/media.filter.html'" ng-if="$root.filter.property && $root.filter.property !== 'title'" class="inline"></div>
                    </div>
                    <!-- Show current filter /  ends  -->

                    <div class="title-movie text-center">
                        <span class="normal">{{entry.title}}</span>
                    </div>
                </a>
            </div>
        </div>

        <!-- Switch for Presentations::end -->

        <div ng-include="'./resources/view/shared/pagination.html'" class="inline"></div>

        <div class="small-12 text-left column" ng-if="timer" ng-show="tvshows.shift || tvshows.length" style="opacity: 0.5; text-shadow: 1px 1px 0 #e6e4e4; font-size: 11px;">
            {{"MESSAGE.FOUND_RESULTS" | translate:"{count: "+ tvshows.length +", seconds: '"+ timer.elapsed().getSeconds() +","+ timer.elapsed().getMilliseconds() +" '}"}}
        </div>

        <div class="large-12 columns margin-bottom"></div>

    </div>
</div>