<div id="media-listing" class="sources page-margin column">

    <div data-alert class="alert-box info radius" ng-if="sources == 'empty' || lists == 'empty'">
        {{"MESSAGE.EMPTY_DIRECTORY" | translate}}
        <a href="#" class="close">&times;</a>
    </div>

    <!-- Source enumeration of types /  starts  -->
    <ul class="list small-block-grid-1 medium-block-grid-2" ng-if="enums.shift">
        <li ng-repeat="enum in enums">
            <a ng-href="#/sources/list/{{enum}}" id="enum-{{enum}}">
                <img class="cover" src="/assets/img/media.text.png">
                <span class="normal">{{enum.toUpperCase() || "{ empty }" | translate}}</span>
            </a>
        </li>
    </ul>
    <!-- Source enumeration of types /  ends  -->

    <!-- Source entries of selected type /  starts  -->
    <ul class="list small-block-grid-1 medium-block-grid-2" ng-if="lists && lists.shift">
        <li ng-repeat="(label, source) in lists">
            <a class="truncate" ng-href="#/sources/{{route.source}}/{{source.file}}">
                <img class="cover" src="/assets/img/media.text.png">
                <span class="normal">{{source.label}}</span>
                <span class="file" ng-if="source.file">{{source.file}}</span>
            </a>
        </li>
    </ul>
    <!-- Source entries of selected type /  ends  -->

    <!-- Source directories of type with content /  starts  -->
    <ul class="list small-block-grid-1 medium-block-grid-2" ng-if="sources && sources.shift">
        <li ng-repeat="(index, source) in sources">
            <a class="truncate" ng-href="{{source.filetype == 'directory' ? '#/sources/' +route.method+ '/' +source.file : ''}}">
                <div class="small-11 row left">
                    &nbsp;<span class="fa" ng-class="{'fa-folder-o': source.filetype == 'directory', 'fa-file-audio-o': source.type == 'audio', 'fa-file-video-o': source.type == 'video', 'fa-file-image-o': source.type == 'image', 'fa-file-o': source.filetype != 'directory'}"></span>
                    <span class="normal">{{source.label}}</span>
                </div>
                <span class="file" ng-if="source.file" data-dropdown="hover-{{$index}}" data-options="align:left">{{source.file}}</span>
            </a>

            <!-- Context menu /  starts  -->
            <ul id="hover-{{$index}}" class="tiny small medium f-dropdown" data-dropdown-content>
                <li ng-if="source.filetype" ng-click="action.playback(source);"><a><i class="fa fa-1x fa-desktop"></i>&nbsp;{{"MOVIE.WATCH_ON" | translate:"{'name': 'Kodi'}"}}</a></li>
                <li ng-if="source.filetype != 'directory'" ng-click="action.download(source.file);"><a><i class="fa fa-1x fa-download"></i>&nbsp;{{"MOVIE.DOWNLOAD" | translate}}: {{source.label}}</a></li>
            </ul>
            <!-- Context menu /  ends  -->

        </li>
    </ul>
    <!-- Source directories of type with content /  ends  -->

    <div class="small-12 text-left" ng-if="timer" ng-show="sources && sources.shift || lists && lists.shift" style="opacity: 0.5; text-shadow: 1px 1px 0 #e6e4e4; font-size: 11px;">
        {{"MESSAGE.FOUND_RESULTS" | translate:"{count: "+ (sources || lists || []).length +", seconds: '"+ timer.elapsed().getSeconds() +","+ timer.elapsed().getMilliseconds() +" '}"}}
    </div>
</div>